{% component terminimal.image(config, src=None, alt=None, position=None, style=None) -%}
{% if src -%}
{# If the image's URL is internal to the site, prepend the site's base URL. #}
{% if src is not starting_with(pat="http") -%}
{% set src = config.base_url ~ src -%}
{% endif -%}
<img src="{{ src | safe }}"{% if alt %} alt="{{ alt }}"{% endif %} class="{% if position %}{{ position }}{% else %}center{% endif %}"{% if style %} style="{{ style | safe }}"{% endif %} decoding="async" loading="lazy"/>
{% endif -%}
{% endcomponent %}
